
* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 1300px;
  font-family: 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
}


input,
button,
span,
div {
  outline: none;
}

body {
  background-color: #fff;
}